<section class="phx-hero">
    <div class="player1">
        <div class="score"><%= @player1score %></div>
    </div>
    <div class="player2">
        <div class="score"><%= @player2score %></div>
    </div>
</section>
